*.py linguist-language=Python

*.html linguist-detectable=false
*.tex linguist-detectable=false
*.bib linguist-detectable=false
*.cls linguist-detectable=false
*.sty linguist-detectable=false
*.md linguist-detectable=false

